# Python
.env
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
.venv/
venv/
env/

# Environment variables
.env

# Alembic
alembic/versions/*.pyc

# IDE
.vscode/
.idea/

# OS
.DS_Store
